@model MontadoraEA.Models.Cliente
@{
    ViewBag.Title = "Visualizar";
}

@Html.HiddenFor(Model => Model.Cidade.CidadeId)
@Html.DisplayFor(Model => Model.Cidade.CidadeId)
<br />
<fieldset>
    <legend> Visualizar </legend>

    <dt>
        @Html.DisplayNameFor(model => model.Nome)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Nome)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.ESexo)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ESexo)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Cpf)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Cpf)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.DataNascimento)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.DataNascimento)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Endereco)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Endereco)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Numero)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Numero)
    </dd>
    <br />
    
    <dt>        
        @Html.DisplayNameFor(model => model.Cidade)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Cidade.Nome)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Cidade.Estado)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Cidade.Estado)
    </dd>

    <br />
    <dt>
        @Html.DisplayNameFor(model => model.OrgaoExpedidor)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.OrgaoExpedidor)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Rg)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Rg)
    </dd>
    <br />    
</fieldset>
<br />
<p>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-outline-secondary" })
    @Html.ActionLink("Editar", "Editar", null, new { id = Model.Id }, new { @class = "btn btn-outline-warning" })
</p>
