@model MontadoraEA.Models.Veiculo

@{
    Layout = null;
    ViewBag.title = "Excluir";
}

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(Model => Model.VeiculoId)

            <div class="modal-header">
                <h4 class="modal-title">Excluir</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <br />
                <fildset>
                    <p><b>Você realmente deseja excluir @Html.DisplayFor(model => model.Marca) @Html.DisplayFor(model => model.Modelo)?</b></p>
                    <br />
                    <p><b>@Html.DisplayNameFor(model => model.Modelo):</b> @Html.DisplayFor(model => model.Modelo)</p>
                    <p><b>@Html.DisplayNameFor(model => model.Marca):</b> @Html.DisplayFor(model => model.Marca)</p>
                    <p><b>@Html.DisplayNameFor(model => model.Categoria):</b> @Html.DisplayFor(model => model.Categoria)</p>
                </fildset>
                <br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-outline-danger excluir-definitivamente"> Excluir Definitivamente</button>
            </div>
        }
    </div>
</div>
