@model IEnumerable<MontadoraEA.Models.Montador>

<br />
<table id="tabelaId" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th scope="col">
                <header class="text-center">Ações</header>
            </th>
        </tr>
    <thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    <div class="float-right">
                        <button class="btn btn-outline-info visualizar" data-id="@item.Id"> Visualizar </button>
                        <button class="btn btn-outline-warning editar" data-id="@item.Id"> Editar </button>
                        <button class="btn btn-outline-danger excluir" data-id="@item.Id"> Excluir </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
