<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    @if (TempData["ScriptIndexEssentials"] != null)
    { 
        @Html.Partial("_ScriptsHeadIndex")
    }    
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="~/Home/Index">MontadoraEA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="@Url.Action("Index","Cliente")">Cliente</a>
                    <a class="nav-item nav-link" href="@Url.Action("Index","Veiculo")">Veiculo</a>
                    <a class="nav-item nav-link" href="@Url.Action("Index","Cidade")">Cidade</a>
                    <a class="nav-item nav-link" href="@Url.Action("Index","Peca")">Peca</a>
                    <a class="nav-item nav-link" href="@Url.Action("Index","Fornecedor")">Fornecedor</a>
                    <a class="nav-item nav-link" href="@Url.Action("Index","Montador")">Montador</a>
                    <a class="nav-item nav-link disabled align-content-lg-end" href="@Url.Action("Novo","Usuario")">Login</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container body-content">
        <br />
        @if (TempData["SuccessMessage"] != null)// para todas as views que necessitarem de alert sucess
        {
        <div class="alert alert-success alert-dismissible">
            <strong>@TempData["SuccessMessage"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
        </div>
        }


        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")

    @if (TempData["ScriptIndexEssentials"] != null){ //carregar scripts datatable,modal,alertclose
        @Html.Partial("_ScriptsIndex")
    }

    @RenderSection("scripts", required: false)
</body>
</html>
