@model MontadoraEA.Models.Peca

@{
    Layout = null;
    ViewBag.title = "Editar";
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/validations_pt-br")

@using (Html.BeginForm(new { @id = "formEditar" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.PecaId)
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div>
                        @Html.LabelFor(Model => Model.Descricao)
                    </div>
                    <div>
                        @Html.EditorFor(Model => Model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.Descricao, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(Model => Model.NumeroSerie)
                    </div>
                    <div>
                        @Html.EditorFor(Model => Model.NumeroSerie, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.NumeroSerie, "", new { @class = "text-danger" })
                    </div>

                    <div>
                        @Html.LabelFor(Model => Model.Fornecedor)
                    </div>
                    <div>
                        @Html.EditorFor(Model => Model.Fornecedor.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.Fornecedor.Nome, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(Model => Model.DataFabricacao)
                    </div>
                    <div>
                        @Html.EditorFor(Model => Model.DataFabricacao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.DataFabricacao, "", new { @class = "text-danger" })
                    </div>

                    <div>
                        @Html.LabelFor(Model => Model.Valor)
                    </div>
                    <div>
                        @Html.EditorFor(Model => Model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.Valor, "", new { @class = "text-danger" })
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-outline-primary"> Salvar Alterações </button>
            </div>
        </div>
    </div>
}

