@model MontadoraEA.Models.Peca

@{
    Layout = null;
    ViewBag.Title = "Novo";
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/validations_pt-br")

@using (Html.BeginForm("Novo", "Peca", FormMethod.Post, new { @id = "formNovo" }))
{
    @Html.ValidationSummary(true)
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div>
                        @Html.LabelFor(Model => Model.Descricao)
                    </div>
                    <div>
                        @Html.EditorFor(Model => Model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.Descricao, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(Model => Model.NumeroSerie)
                    </div>
                    <div>
                        @Html.EditorFor(Model => Model.NumeroSerie, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.NumeroSerie, "", new { @class = "text-danger" })
                    </div>

                    <div>
                        @Html.LabelFor(Model => Model.Fornecedor)
                    </div>
                    <div>
                        @Html.DropDownList("FornecedorId", ViewBag.fornecedores as SelectList, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(Model => Model.Fornecedor.Nome, "", new { @class = "text-danger" })
                    </div>

                    @*<select name="Fornecedor.Id" id="selectFornecedor" class="form-control"></select>
                    <input type="hidden" name="Fornecedir.Nome" id="nomeFornecedor" />
                    @Html.ValidationMessageFor(Model => Model.Fornecedor, "", new { @class = "text-danger" })*@



                    <div>
                        @Html.LabelFor(Model => Model.DataFabricacao)
                    </div>
                    <div>
                        @Html.EditorFor(Model => Model.DataFabricacao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.DataFabricacao, "", new { @class = "text-danger" })
                    </div>

                    <div>
                        @Html.LabelFor(Model => Model.Valor)
                    </div>
                    <div>
                        @Html.EditorFor(Model => Model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.Valor, "", new { @class = "text-danger" })
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-outline-primary">Salvar</button>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>


        $('#selectFornecedor').load(@Html.Partial("_PartialSelecionarFornecedor", "Fornecedor")

    </script>
}

