@model MontadoraEA.Models.Cidade

<br />

<dt>
    @Html.DisplayNameFor(model => model.Estado)
</dt>
<dd>
    @Html.DisplayFor(model => model.Estado)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.CidadeId)
</dt>
<dd>
    @Html.DisplayFor(model => model.CidadeId)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Nome)
</dt>
<dd>
    @Html.DisplayFor(model => model.Nome)
</dd>
@*<dt>
        @Html.DisplayNameFor(model => model.CidadeId)
    </dt>
    <dd>
        <table class="table">
            <tr>
                <th>Course Title</th>
                <th>Grade</th>
            </tr>
            @foreach (var item in Model.Enrollments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem =>
                       item.Course.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                </tr>
            }
        </table>
    </dd>
     </dl>
    </div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CidadeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
