@model MontadoraEA.Models.Cidade
@using (Html.BeginForm())
{
    @Html.HiddenFor(Model => Model.CidadeId)
    <br />
    <fildset>
        <legend>Excluir</legend>
        <p><h4> Você realmente deseja excluir a cidade @Html.DisplayFor(model => model.Nome)? </h4> </p>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.CidadeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CidadeId)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </fildset>
    <br />
    
    <p>        
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-outline-secondary btn-md" })
        <button type="submit" class = "btn btn-outline-danger btn-md"> Excluir Definitivamente</button>
    </p>

}