@model MontadoraEA.Models.Cidade
@{
    ViewBag.Title = "Novo";
}

<h2>Nova Cidade</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Incluir Cidade</legend>
        <div>
            @Html.LabelFor(Model => Model.Estado)
        </div>
        <div>
            @Html.EnumDropDownListFor(Model => Model.Estado, new { @class = "form-control" })
            @Html.ValidationMessageFor(Model => Model.Estado)
        </div>

        <div>
            @Html.LabelFor(Model => Model.Nome)
        </div>
        <div>
            @Html.EditorFor(Model => Model.Nome, new { htmlAttributes = new { @style = "text-transform:uppercase", @class = "form-control" } })
            @Html.ValidationMessageFor(Model => Model.Nome)
        </div>

        <div>
            <br />
            @Html.ActionLink("Cancelar","Index", null, new { @class = "btn btn-outline-secondary" })
            
            <button type="submit" class="btn btn-outline-primary">Salvar</button>
        </div>
    </fieldset>

    @*<table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.Estado)
            </td>
            <td>
                @Html.DisplayNameFor(Model => Model.Nome)
            </td>
        </tr>
    </table>*@
}