@model MontadoraEA.Models.Cidade

<br />

<dt>
    @Html.DisplayNameFor(model => model.Estado)
</dt>
<dd>
    @Html.DisplayFor(model => model.Estado)
</dd>
<br />
<dt>
    @Html.DisplayNameFor(model => model.CidadeId)
</dt>
<dd>
    @Html.DisplayFor(model => model.CidadeId)
</dd>
<br />
<dt>
    @Html.DisplayNameFor(model => model.Nome)
</dt>
<dd>
    @Html.DisplayFor(model => model.Nome)
</dd>
<br />
<div>
    @*<table class="table">
            <tr>
                <th>Cidade</th>
                <th>EStado</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem =>item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                </tr>
            }
        </table>*@
</div>
<p>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-outline-secondary" })
    @Html.ActionLink("Editar", "Editar", null, new { id = Model.CidadeId }, new { @class = "btn btn-outline-warning" })

</p>
